:root {
    --header-height: 80px;
    --footer-height: 90px;
    --label-abs-bottom: 20px;
    --label-abs-top: 350px;
    --bg-color-header: rgb(255, 98, 0);
    --bg-color-footer: rgb(36, 36, 36);
    --bg-color-red: rgb(255, 0, 0);
    --bg-color-green: rgb(13, 149, 65);
    --bg-color-white: rgb(255, 255, 255)
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin-top: var(--header-height);
}

/* COMMON */
.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}


.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    height: var(--header-height);
    background-color: var(--bg-color-header);
    color: white;
}

.header-logo {
    height: 40px;
}

.footer {
    height: var(--footer-height);
    background-color: var(--bg-color-footer);
    color: white;
}

.card {
    position: relative;
}

.discount {
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: var(--bg-color-red);
    position: absolute;
    left: 0;
    top: var(--label-abs-top);
    /* bottom: var(--label-abs-bottom); */
    font-size: small;
}

.sustainability {
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: var(--bg-color-green);
    position: absolute;
    left: 45px;
    top: var(--label-abs-top);
    /* bottom: var(--label-abs-bottom); */
    font-size: small;
}

.prefered {
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
    background-color: var(--bg-color-white);
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.col-30 {
    width: 30%;

    /* Debug */
    /* border: 1px solid black;
    min-height: 300px;
    margin-bottom: 20px; */
    ;
}

.col-50 {
    width: 50%
}

.image-main {
    position: relative;
}

.image-hoover {
    position: absolute;
    left: 0;
    z-index: -1;
}

.card:hover .image-hoover {
    z-index: 0;
}