:root {
    --bg-color-header: rgb(255, 98, 0);
    --bg-color-footer: rgb(36, 36, 36);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
.flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.header {
    height: 80px;
    background-color: var(--bg-color-header);
    color: white;
}

.header img {
    height: 40px;
}

.footer {
    height: 100px;
    background-color: var(--bg-color-footer);
    color: white;
}