/* Utility */
.strong {
    font-weight: 600;
}

.red {
    color: red;
}

.cancelled {
    text-decoration: line-through;
}

.font-size-s {
    font-size: small;
}

.font-size-l {
    font-size: large;
}

.text-align-right {
    text-align: right;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}